/* CSS code for the website's style */
body {
  background-image: url("https://tinyurl.com/3n68d5t5");
  font-family: Arial, sans-serif;
  color: #333;
  height: 70px;
}

.header img {
  float: left;
  width: 95px;
  height: 60px;
  background: transparent;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

h1{
   color: turquoise;
   background-image: url("");
   background-repeat: no-repeat;
   background-position: left;
   padding-left: 10px;


}

#header {
  text-align: center;
  padding: 15px 0;
  color: blanchedalmond;
  margin: auto;
  position: relative;
  width: 20%;
  color: turquoise;
}

input[type="text"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: 30px;
  border: 2px solid #ccc;
  border-radius: 4px;
  float: right;
  margin: 0px;
}

nav {
  background-color: transparent;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

nav ul li a:hover{
    color: argb(0,0,0,0.5);
    text-decoration: underline;


}


main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}









